.Portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0px;
  width: 100vw;

  --preview-image-size: 300px;
  --detail-image-size: 500px;
  --width: 1024px;
}

.portfolio-container-outer {
  margin: auto;
  padding: 2em;
  background: var(--opaque-background);
  backdrop-filter: blur(2px);
  border: solid black 2px;
}

.portfolio-container {
  background: white;
  width: var(--width);
}

.portfolio-header {
  background: white;
  padding: 2em;
  margin: 0;
}

.portfolio-content {
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  width: 1024px;
  overflow-x: hidden;
}

.ProjectsContainer {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-bottom: 3em;

  transform: translateX(-100vw);
  transition: 0.5s;
}

.ProjectDetails {
  position: absolute;
  background-color: var(--color3);
  width: var(--width);
  display: flex;
  flex-direction: row;

  transform: translateX(100vw);
  transition: 0.5s;
}

.visible {
  transform: translateX(0vw);
  transition: 0.5s;
}

.ProjectDetailsImages {
  max-height: var(--detail-image-size);
  max-width: var(--detail-image-size);
  background: black;
}

.ProjectDetailsImages > img {
  max-height: var(--detail-image-size);
  max-width: var(--detail-image-size);
}

.ProjectDetailsText {
  max-width: 50ch;
  margin: 2em;
}

.ProjectCard {
  position: relative;
  width: var(--preview-image-size);
  padding-bottom: 0.5em;
  box-shadow: var(--shadow-value);
  background-color: white;
  margin: 0.5em;
}

.project-title {
  display: inline;
  font-family: var(--header-font);
  font-size: 26px;
  color: black;
  text-shadow: 2px 2px white;
  padding: 0.5em;
}

.project-title::before {
  position: absolute;
  transform: translate(2px, 2px);
  color: black;
  text-shadow: none;
}

.ProjectCard > img {
  width: var(--preview-image-size);
  height: var(--preview-image-size);
}

.ProjectTechs {
  font-size: 12px;
}

.see-more-container {
  position: absolute;
  display: flex;
  top: 0;
  width: var(--preview-image-size);
  height: var(--preview-image-size);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.see-more-container:hover {
  opacity: 1;
}

.see-more-btn {
  color: black;
  font-size: 20px;
  padding: 1em;
  background-color: white;
  cursor: pointer;
}

.see-more-btn-container {
  background-color: var(--opaque-background);
  margin: auto;
  padding: 1em;
  backdrop-filter: blur(2px);
  border: 2px solid;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.ProjectDetails > button {
  margin: 0px;
  padding: 0px;
  min-width: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  cursor: pointer;
}

.ProjectDetails > button > p {
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
}

.project-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ProjectLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em;
  border: solid 1px solid;
  color: black;
}

.ProjectLink > * {
  align-content: center;
  margin: 0 0.5em;
}

.slideshow-controls {
  position: absolute;
  bottom: 0;
  display: flex;
  width: var(--detail-image-size);
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.slideshow-controls > button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  color: white;
  margin: 5px;
}
