.Header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-btn.selected {
  color: black;
  text-shadow: 2px 2px white;
}

.nav-btn {
  position: relative;
  font-family: var(--header-font);
  font-weight: 900;
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin: 0px;
  padding: 15px 30px;
}

.nav-btn::before {
  position: absolute;
  content: ' ';
  width: 10%;
  height: 2px;
  background: black;
  transition: expandBar 1s reverse ease;
  z-index: -1;
}

.selected.nav-btn::before {
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
  box-shadow: 1px 1px white;

  width: 60%;
}

@media only screen and (max-width: 700px) {
  .nav-btn {
    padding: 15px;
  }

  .nav-btn::before {
    display: none;
  }

  .nav-btn.selected {
    border-bottom: 4px solid black;
  }
}
