@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

:root {
  --header-font: 'Raleway', sans-serif;

  --color1: #1be7ff;
  --color2: #6eeb83;
  --color3: #e4ff1a;
  --color4: #ffb800;
  --color5: #ff5714;

  --shadow-value: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.App {
  text-align: center;
  font-family: var(--header-font);
}

section {
  min-height: 100vh;
  min-width: 100vw;
}

button {
  border: none;
  background: none;
  padding: 5px 30px;
  margin: 10px;
  text-transform: uppercase;
}

hr {
  border-style: none;
  height: 2px;
  background: lightgrey;
  width: 10%;
}

h1 {
}

h2,
h3 {
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  button {
    padding: 5px 5px;
  }
}
