@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

:root {
  --header-font: 'Raleway', sans-serif;

  --color1: #1be7ff;
  --color2: #6eeb83;
  --color3: #e4ff1a;
  --color4: #ffb800;
  --color5: #ff5714;

  --shadow-value: 10px 10px 15px rgba(0, 0, 0, 0.2);
  --opaque-background: rgba(0, 0, 0, 0.05);
}

.App {
  text-align: center;
  font-family: var(--header-font);
}

.P5Background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

section {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-y: hidden;
}

button {
  border: none;
  background: none;
  padding: 5px 30px;
  margin: 10px;
  text-transform: uppercase;
}

hr {
  border-style: none;
  height: 1px;
  background: black;
  width: 50%;
}

h1 {
  text-transform: uppercase;
}

h2,
h3 {
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  margin: 5px 0;
}

p {
  margin: 5px 0;
}

@media only screen and (max-width: 1024px) {
  button {
    padding: 5px 5px;
  }
}
