.App {
  text-align: center;
}

section {
  min-height: 100vh;
}

.Header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background: orange;
}

.selected {
  border-bottom-color: #11bb9a;
  color: #11bb9a;
}

button {
  border: solid 5px white;
  background: none;
  padding: 5px 30px;
  margin: 10px;
}
